@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html, body {
	background: #FFFFFF;
	font: normal 15px "Microsoft YaHei";
}

#top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	background-color: #303030;
}

#top_logo {
	width: 600px;
	float: left;
	vertical-align: middle;
	height: 65px;
	line-height: 65px;
	padding: 8px 8px 8px 40px;
}

#top_links {
	width: 200px;
	height: 65px;
	float: right;
	line-height: 65px;
	color: #ADADAD;
	line-height: 65px;
	position: relative;
}
#Workingbutton{
	position: relative;
	width: auto;
	margin-right: 30px;
}
#top_op {
	width: 150px;
}

#top_op ul {
	list-style-type: none;
}

#top_op ul li {
	display: inline-block;
	margin-right: 20px;
}

#top_op ul li img {
	vertical-align: text-top;
}

#top_links a:link, #nav_links a:visited, #nav_links a:hover, #nav_links a:active {
	list-style: none;
	text-decoration: none;
	color: #fff;
}

#top_links a:hover {
	list-style: none;
	text-decoration: underline;
	color: #fff;
}

#top_close {
	width: 80px;
	position: absolute;
	right: 0px;
	top: 0px;
	border-left: 1px solid #171717;
	vertical-align: text-top;
}

#side {
	position: absolute;
	left: 0;
	top: 70px;
	bottom: 0px;
	width: 380px;
	overflow: hidden;
}
#map{
	position: absolute;
	left: 380px;
	top: 70px;
	bottom: 0px;
	right: 0px;
	width: auto;
	z-index: 10;
	overflow: hidden;
}
#main{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: auto;
	overflow: hidden;
}
#left_menu {
	width: 60px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	background: #044599;
	overflow: hidden;
}

#left_menu_cnt {
	width: 320px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 60px;
	overflow: auto;
	background: #F1F1F1;
}

#left_menu_cnt #nav_module {
	position: fixed;
	padding-left: 17px;
	background: #F1F1F1;
}

#left_menu_cnt {
	margin-top: 0px;
	overflow: hidden;
}

#bicycleTable{
		text-align:center
	}
	

#nav_resource1 {
	margin-top: 60px;
	overflow: auto;
	display: block;
}
#nav_resource2 {
	margin-top: 60px;
	overflow: auto;
	display: none;
}

#nav_resource3 {
	margin-top: 60px;
	overflow: auto;
	display: none;
}

#TabPage2 li {
	padding: 19px 9px 19px 15px;
	cursor: pointer;
}
/*比例尺*/
.selected {
	background: #FFF;
	cursor: pointer;
	z-index: 50;
}
/*返回中心点*/
#HomeButton {
	position: absolute;
	top: 80px;
	left: 12px;
	z-index: 50;
}

/*量算工具*/

.esriMeasurement {
    height: 100%;
    position: relative;
    width: 90% !important;
}

.esriMeasurement .esriToggleButton .dijitButtonNode {

    width: 80% !important;
}


#titlePane {

	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 50;
	width: 200px;
	background-color: #EEEEEE;
}

td.details-control {
	background: url(/PublicBicycleSys/images/common/details_open.png) no-repeat center center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url(/PublicBicycleSys/images/common/details_close.png) no-repeat center center;
}

.esriAttributeInspector {
	height: 205px;
}
.esriAttributeInspector .atiLayerName {
	display: none;
}
.saveButton {
	margin-left: 50px !important;
	margin-top: 0.3px !important;
}
#WorkingTab1 {

	position: absolute;
	z-index: 100;
	right: 240px;
	top: 20px;
		display: block;
}
#WorkingTab2 {

	position: absolute;
	z-index: 100;
	right: 240px;
	top: 20px;
	display: none;
}
#WorkingTab3 {

	position: absolute;
	z-index: 100;
	right: 240px;
	top: 20px;
	display: none;
}
#WorkingTab4 {

	position: absolute;
	z-index: 100;
	right: 240px;
	top: 20px;
	display: none;
}
