	/*小部件：数据分析 站点一般分析*/
	#dijit__WidgetsInTemplateMixin_0{
	position: absolute;
	top: 90px;
	left: 450px;
	z-index: 200;
	/*width: 350px;*/
	width: 430px;
	background-color: #EEEEEE;
	}
	#GATitle{
		height: 24px;
		z-index: 50;
	}
	#buttonN{
			background:  #1B9AF7;
			color: #FFFFFF;
			float:left;
			width: 406px;
			height: 24px;
			text-align:left;
			
	}
	#buttonC{
			float:right;
			width: 24px;
			height: 24px;
	}
	#TitleWeight { 
		line-height:24px; 
		font-size:12px;
		font-weight:bold;
		padding: 0px 0px 0px 10px;
		}



